/* .titulo {
    color: #FF9B5E;
}

.subtitulo {
    color: #F2657A;
}

p {
    color: #F0EFF4;
    font-weight: 300;
}

span {
    color: #BAD761;
} */

p {
    color: red!important;
}

p {
    color: green!important;
}