@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

html, body {
    height: 100vh;
    background-color: #221F22;
}

* {
    font-family: 'Fira Code', monospace;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    "header"
    "main";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    color: #FA9767;
}

.header span {
    color: #A9DC76;
}

.main {
    grid-area: main;
    background-color: #2D2A2E;
    margin: 0 48px 48px 48px;
    border-radius: 8px;
    padding: 24px;
}

.flex-item {
    height: 80px;
    width: 80px;
    border-style: solid;
    border-radius: 4px;
    border-color: #A9DC76;
    border-width: 2px;
    color: #A9DC76;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}