.accent-1 {
    color: #FF6188;
    border-color: #FF6188;
}
.accent-2 {
    color: #FC9867;
    border-color: #FC9867;
}
.accent-3 {
    color: #FFD866;
    border-color: #FFD866;
}
.accent-4 {
    color: #A9DC76;
    border-color: #A9DC76;
}
.accent-5 {
    color: #78DCE8;
    border-color: #78DCE8;
}
.accent-6 {
    color: #AB9DF2;
    border-color: #AB9DF2;
}
