.flex-container {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
}

.flex-item {
    margin: 8px;
}

.flex-container :nth-child(odd) {
    align-self: center;
    margin-bottom: auto;
}

